<section class="whats-new">
    <div class="conteiner">
        <h2 class="titel-h2 whats-new-titel">Що нового?</h2>
        <ul class="whats-new-list list" id="whats-new-list">
            <!-- <li class="whats-new-list-element">
                <div class="whats-new-list-element-img">
                    <img src="./images/AboutGame-WantNew/image001.jpg" alt="first image">
                </div>
                <div class="whats-new-list-element-content">
                    <p class="wn-date">16.02.2023</p>
                    <h3 class="wn-titel">як створювалась гра</h3>
                    <p class="wn-text">Створюйте свого персонажа, його історію та пориньте у світ Адріосу. Діліться власними світами, де інші гравці зможуть занурюватись в захопливі пригоди з судовим сюжетом.</p>
                    <button class="wn-button" type="button" data-id="001">Читати далі</button>
                </div>
            </li>
            <li class="whats-new-list-element">
                <div class="whats-new-list-element-img">
                    <img src="./images/AboutGame-WantNew/image001.jpg" alt="first image">
                </div>
                <div class="whats-new-list-element-content">
                    <p class="wn-date">16.02.2023</p>
                    <h3 class="wn-titel">як створювалась гра</h3>
                    <p class="wn-text">Створюйте свого персонажа, його історію та пориньте у світ Адріосу. Діліться власними світами, де інші гравці зможуть занурюватись в захопливі пригоди з судовим сюжетом.</p>
                    <button class="wn-button" type="button">Читати далі</button>
                </div>
            </li>
            <li class="whats-new-list-element">
                <div class="whats-new-list-element-img">
                    <img src="./images/AboutGame-WantNew/image001.jpg" alt="first image">
                </div>
                <div class="whats-new-list-element-content">
                    <p class="wn-date">16.02.2023</p>
                    <h3 class="wn-titel">як створювалась гра</h3>
                    <p class="wn-text">Створюйте свого персонажа, його історію та пориньте у світ Адріосу. Діліться власними світами, де інші гравці зможуть занурюватись в захопливі пригоди з судовим сюжетом.</p>
                    <button class="wn-button" type="button">Читати далі</button>
                </div>
            </li> -->
        </ul>
        <a class="whats-new-more" href="#">Більше
            <svg class="whats-new-more-svg">
                <use href="./images/icons.svg#icon-Arrow-left"></use>
            </svg>
        </a>

    </div>
    
</section>