<section class="about-game-our-atmosphere">
    <div class="conteiner our-atmosphere-conteiner">
        <h2 class="our-atmosphere-titel titel-h2">Поринь у нашу атмосферу</h2>
        <ul class="list our-atmosphere-list">
            <li class="our-atmosphere-list-element"></li>
            <li class="our-atmosphere-list-element"></li>
            <li class="our-atmosphere-list-element"></li>
            <li class="our-atmosphere-list-element"></li>
            <li class="our-atmosphere-list-element"></li>
            <li class="our-atmosphere-list-element"></li>
        </ul>
        <div class="our-atmosphere-content-element">
            <div class="our-atmosphere-content-element-text">
            <p>
                Створюйте свого персонажа, його історію та пориньте у світ Адріосу. Діліться власними світами, де інші гравці зможуть занурюватись в захопливі пригоди з судовим сюжетом.
            </p>
            <p>
                <b>Головною платформою для гри є РС</b>
                Ми використовуємо ігровий рушій Unity для втілення наших задумів. В мобільному додатку та на вебсторінках користувачі продовживатимуть насолоджуватись ігровими механіками, розвиваючи персонажів.
            </p>
            <p>
                Спільнота дуже важлива у подібного роду проєктах. 
Користувачі зможуть знаходити компанію для ігор, нові знайомства та друзів. Просто спілкуватися та ділитися ідеями й своїми досягненнями.
            </p>
            <p>
                Маркетплейс - це місце, де користувачі зможуть знайти різноманітні допоміжні матеріали для свлїх пригод: 3D моделі, текстури, звуки та інше, що може знадобитись гравцям для створення власних сетингів та історій.
            </p>
            <p>Приєднуйтесь до <b>Miramixi Storyteller!</b>  Ми будуємо світи.</p></div>
            <div class="our-atmosphere-content-element-img">
                <img srcset="./images/AboutGame-OurAtmosphere/sword22.png 1x, ./images/AboutGame-OurAtmosphere/sword22@x2.png" src="./images/AboutGame-OurAtmosphere/sword22.png" alt="sword">
            </div>
        </divс>
    </div>
</section>