<section class="cpl">
    <div class="conteiner">
        <ul class="cpl-list list">
            <li class="cpl-list-el">
                <div class="cpl-list-el-text">
                    <h4>Ігрові раси</h4>
                    <p>Ви можете обрати расу з понад 10, а деякі з них мають 2 народності зі своїми унікальними можливостями.</p>
                </div>
                <div class="cpl-list-el-progres">
                    <span>50%</span>
                </div>

            </li>
            <li class="cpl-list-el">

            </li>
        </ul>
    </div>
</section>