<section class="cp">
    <div class="conteiner">

        <div class="cp-content">
            <div class="cp-content-text">

                <div>
                    <h2 class="titel-h2 cp-content-text-titel">План розвитку гри</h2>
                    <p><b>Ми дуже цінуємо підтримку наших гравців</b>, тому максимально відкрито ділимося планом розвитку гри.</p>
                    <p>Стежте за прогресом та будьте в курсі майбутніх оновлень.</p>
                    <p>Більше деталей дізнавайтесь у нашій <br><a href="https://discord.com/invite/tsTZh9YYE7">Discord-спільноті</a> .</p>
                </div>

                <div>
                    <h3 class="cp-content-text-titel-h3">Персонаж</h3>
                    <p>Ваш персонаж — це Ви у світах Miramixi Storyteller. Ця частина гри потребує багато часу та уваги до деталей, щоб забезпечити унікальність ігрового процесу.
                        Стежте, як Ваш персонаж отримує нові можливості.</p>
                </div>
                
            
            </div>


            <div class="cp-content-img" >

                <div class="cp-first-img">
                    <span class="cp-first-img-text">48%</span>
                    <img src="./images/Crowdfunding/Points components.svg" alt="рамка">
                </div>

                <p class="cp-first-img-description">загальний прогрес створення гри</p>

                <div class="cp-last-img">
                    <span class="cp-last-img-text">23%</span>
                    <img src="./images/Crowdfunding/Points components.svg" alt="рамка">
                </div>
                
                <p class="cp-last-img-description">загальний прогрес створення персонажа</p>

            </div>
        </div>
    </div>
</section>