<section class="mg">
    <div class="conteiner">

        <div class="mg-nav">
            <input type="text" id="mg-nav-search" placeholder=" ">
            <label class="mg-nav-label" for="mg-nav-search">
                <svg>
                    <use href="./images/marketplace-icon.svg#icon-search"></use>
                </svg>
                Пошук по маркетплейсу
            </label>

            <button type="button" class="mg-nav-button">Категорія 1</button>
            <button type="button" class="mg-nav-button">Категорія 2</button>
            <button type="button" class="mg-nav-button">Категорія 3</button>

            <ul class="list mg-nav-conteiner">
                <li class="mg-nav-conteiner-element">
                    <svg>
                        <use href="./images/marketplace-icon.svg#icon-ic_outline-filter-alt"></use>
                    </svg>
                </li>
                <li class="mg-nav-conteiner-element">
                    <svg>
                        <use href="./images/marketplace-icon.svg#icon-list"></use>
                    </svg>
                </li>
            </ul>
        </div>

        <ul class="mg-list list">
            <li class="mg-list-element mg-listGr-white">

                

                <div class="mg-list-element-img">
                    <img src="./images/Marketplace/skull001.png" alt="товар">
                </div>

                <h5>the skull of a saber-toothed cat</h5>

                <div class="price">
                    <p>120₴</p>
                    <img src="./images/Marketplace/Frame 174.png" alt="star">
                </div>

                <button type="button">
                    Додати до кошика 
                    <svg>
                        <use href="./images/marketplace-icon.svg#icon-plus"></use>
                    </svg>
                </button>

            </li>
            <li class="mg-list-element mg-listGr-blue">

                <div class="mg-list-element-img">
                    <img src="./images/Marketplace/skull002.png" alt="товар">
                </div>

                <h5>the skull of a saber-toothed cat</h5>

                <div class="price">
                    <p>120₴</p>
                    <img src="./images/Marketplace/Frame 174.png" alt="star">
                </div>

                <button type="button">
                    Додати до кошика 
                    <svg>
                        <use href="./images/marketplace-icon.svg#icon-plus"></use>
                    </svg>
                </button>

            </li>
            <li class="mg-list-element mg-listGr-gray">

                <div class="mg-list-element-img">
                    <img src="./images/Marketplace/skull003.png" alt="товар">
                </div>

                <h5>the skull of a saber-toothed cat</h5>

                <div class="price">
                    <p>120₴</p>
                    <img src="./images/Marketplace/Frame 174.png" alt="star">
                </div>

                <button type="button">
                    Додати до кошика 
                    <svg>
                        <use href="./images/marketplace-icon.svg#icon-plus"></use>
                    </svg>
                </button>

            </li>
            <li class="mg-list-element mg-listGr-pink">

                <div class="mg-list-element-img">
                    <img src="./images/Marketplace/skull004.png" alt="товар">
                </div>

                <h5>the skull of a saber-toothed cat</h5>

                <div class="price">
                    <p>120₴</p>
                    <img src="./images/Marketplace/Frame 174.png" alt="star">
                </div>

                <button type="button">
                    Додати до кошика 
                    <svg>
                        <use href="./images/marketplace-icon.svg#icon-plus"></use>
                    </svg>
                </button>

            </li>
            <li class="mg-list-element mg-listGr-red">

                <div class="mg-list-element-img">
                    <img src="./images/Marketplace/skull005.png" alt="товар">
                </div>

                <h5>the skull of a saber-toothed cat</h5>

                <div class="price">
                    <p>120₴</p>
                    <img src="./images/Marketplace/Frame 174.png" alt="star">
                </div>

                <button type="button">
                    Додати до кошика 
                    <svg>
                        <use href="./images/marketplace-icon.svg#icon-plus"></use>
                    </svg>
                </button>

            </li>
            <li class="mg-list-element mg-listGr-bone">

                <div class="mg-list-element-img">
                    <img src="./images/Marketplace/skull006.png" alt="товар">
                </div>

                <h5>the skull of a saber-toothed cat</h5>

                <div class="price">
                    <p>120₴</p>
                    <img src="./images/Marketplace/Frame 174.png" alt="star">
                </div>

                <button type="button">
                    Додати до кошика 
                    <svg>
                        <use href="./images/marketplace-icon.svg#icon-plus"></use>
                    </svg>
                </button>

            </li>
            <li class="mg-list-element mg-listGr-green">

                <div class="mg-list-element-img">
                    <img src="./images/Marketplace/skull007.png" alt="товар">
                </div>

                <h5>the skull of a saber-toothed cat</h5>

                <div class="price">
                    <p>120₴</p>
                    <img src="./images/Marketplace/Frame 174.png" alt="star">
                </div>

                <button type="button">
                    Додати до кошика 
                    <svg>
                        <use href="./images/marketplace-icon.svg#icon-plus"></use>
                    </svg>
                </button>

            </li>
            <li class="mg-list-element mg-listGr-yellow">

                <div class="mg-list-element-img">
                    <img src="./images/Marketplace/skull008.png" alt="товар">
                </div>

                <h5>the skull of a saber-toothed cat</h5>

                <div class="price">
                    <p>120₴</p>
                    <img src="./images/Marketplace/Frame 174.png" alt="star">
                </div>

                <button type="button">
                    Додати до кошика 
                    <svg>
                        <use href="./images/marketplace-icon.svg#icon-plus"></use>
                    </svg>
                </button>

            </li>
        </ul>

        <div class="mg-papagination"><p>пагінація</p></div>

    </div>
</section>