<header>
    <div class="mh">
        <a class="header-logo" href="./index.html">
            <img src="./images/Logo.svg" alt="Logo Gamirare" width="190">
        </a>
        
        <ul class="list mh-conteiner">
            <li class="mh-conteiner-element" id="marketplace-profile">
                <svg>
                    <use href="./images/marketplace-icon.svg#icon-profil"></use>
                </svg>
            </li>
            <li class="mh-conteiner-element" id="marketplace-basket">
                <svg>
                    <use href="./images/marketplace-icon.svg#icon-basket"></use>
                </svg>
            </li>
            <li class="mh-conteiner-element" id="marketplace-selected">
                <svg>
                    <use href="./images/marketplace-icon.svg#icon-selected"></use>
                </svg>
            </li>
        </ul>
    </div>

</header>