<section class="ms">
    <div class="conteiner">

        <input type="radio" name="tab"  id="strim">
        <input type="radio" name="tab" checked id="update">
        <input type="radio" name="tab" id="inTheMedia">
        <input type="radio" name="tab" id="gallery">

        <div class="ms-nav">
            <label for="strim" class="strim">Стріми</label>
            <label for="update" class="update">Оновлення</label>
            <label for="inTheMedia" class="inTheMedia">Про нас у ЗМІ</label>
            <label for="gallery" class="gallery">Галерея</label>
        </div>

        <div class="ms-content">
            <div class="strim">
                <div class="title">This is a Home content</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aspernatur nobis provident dolores molestias quia quisquam laborum, inventore quis, distinctioa, fugit repudiandae delectus sunt ipsam! Odio illo at quia doloremque fugit iops, asperiores? Consectetur esse officia labore voluptatum blanditiis molestias dic voluptas est, minima unde sequi, praesentium dicta suscipit quisquam iure sed, nemo.</p>
            </div>
    
            <div class="update">

                <div class="ms-update-firstEl">
                    <div class="ms-element-img">
                        <img src="./images/MassMedia/Rectangle 40.jpg" alt="first image">
                    </div>
                    <div class="ms-element-content">
                        <p class="ms-element-category">Оновлення</p>
                        <h3 class="ms-element-titel">Lorem Ipsum є псевдо- латинський текст</h3>
                        <p class="ms-element-text">Miramixi Storyteller покликаний надати новий ігровий досвід та зручний функціонал для організації ігрового процесу. Це однокоритувацька/кооперативна 3D RPG зі свободою дії...</p>
                        <div class="ms-element-content-autorBlock">
                            <div class="ms-element-autor">
                                <img src="./images/MassMedia/Ellipse 26.jpg" alt="autor">
                                <div>
                                    <p class="autor-name">Mexanik385</p>
                                    <p class="publish-date">28.02.2023</p>
                                </div>
                            </div>
                            <button class="ms-element-button" type="button" data-id="001">Читати далі</button>
                        </div>
                        
                    </div>
                </div>
                
                <ul class="ms-update-list list">
                    <li>
                        <div class="ms-list-element-img">
                            <img src="./images/MassMedia/Rectangle 40.jpg" alt="first image">
                        </div>
                        <div class="ms-element-content">
                            <p class="ms-element-category">Оновлення</p>
                            <h3 class="ms-element-titel">Lorem Ipsum є псевдо- латинський текст</h3>
                            <p class="ms-element-text">Miramixi Storyteller покликаний надати новий ігровий досвід та зручний функціонал для організації ігрового процесу. Це однокоритувацька/кооперативна 3D RPG зі свободою дії...</p>
                            <div>
                                <div class="ms-element-autor">

                                </div>
                                <button class="ms-element-button" type="button" data-id="001">Читати далі</button>
                            </div>
                            
                        </div>
                    </li>
                    <li>
                        <div class="ms-list-element-img">
                            <img src="./images/MassMedia/Rectangle 40.jpg" alt="first image">
                        </div>
                        <div class="ms-element-content">
                            <p class="ms-element-category">Оновлення</p>
                            <h3 class="ms-element-titel">Lorem Ipsum є псевдо- латинський текст</h3>
                            <p class="ms-element-text">Miramixi Storyteller покликаний надати новий ігровий досвід та зручний функціонал для організації ігрового процесу. Це однокоритувацька/кооперативна 3D RPG зі свободою дії...</p>
                            <div>
                                <div class="ms-element-autor">

                                </div>
                                <button class="ms-element-button" type="button" data-id="001">Читати далі</button>
                            </div>
                            
                        </div>
                    </li>
                    <li>
                        <div class="ms-list-element-img">
                            <img src="./images/MassMedia/Rectangle 40.jpg" alt="first image">
                        </div>
                        <div class="ms-element-content">
                            <p class="ms-element-category">Оновлення</p>
                            <h3 class="ms-element-titel">Lorem Ipsum є псевдо- латинський текст</h3>
                            <p class="ms-element-text">Miramixi Storyteller покликаний надати новий ігровий досвід та зручний функціонал для організації ігрового процесу. Це однокоритувацька/кооперативна 3D RPG зі свободою дії...</p>
                            <div>
                                <div class="ms-element-autor">

                                </div>
                                <button class="ms-element-button" type="button" data-id="001">Читати далі</button>
                            </div>
                            
                        </div>
                    </li>
                </ul>

            </div>
    
            <div class="inTheMedia">
                <div class="title">This is a Code content</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, debitis nesciunt! Consectetur officiis, libero nobis dolorem pariatur quisquam temporibus. Labore quaerat neque facere itaque laudantium odit veniam consectetur numquam delectus aspernatur, perferendis repellat illo sequi excepturi quos ipsam aliquid est consequuntur.</p>
            </div>
    
            <div class="gallery">
                <div class="title">This is a Help content</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim reprehenderit null itaq, odio repellat asperiores vel voluptatem magnam praesentium, eveniet iure ab facere officiis. Quod sequi vel, rem quam provident soluta nihil, eos. Illo oditu omnis cumque praesentium voluptate maxime voluptatibus facilis nulla ipsam quidem mollitia! Veniam, fuga, possimus. Commodi, fugiat aut ut quorioms stu necessitatibus, cumque laborum rem provident tenetur.</p>
            </div>
        </div>
    </div>

</section>