<section class="ms">
    <div class="conteiner">

        <input type="radio" name="tab" checked id="strim">
        <input type="radio" name="tab" id="update">
        <input type="radio" name="tab" id="inTheMedia">
        <input type="radio" name="tab" id="gallery">

        <div class="ms-nav">
            <label for="strim" class="strim">Стріми</label>
            <label for="update" class="update">Оновлення</label>
            <label for="inTheMedia" class="inTheMedia">Про нас у ЗМІ</label>
            <label for="gallery" class="gallery">Галерея</label>
        </div>

        <div class="content strim">
            <div class="title">This is a Home content</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aspernatur nobis provident dolores molestias quia quisquam laborum, inventore quis, distinctioa, fugit repudiandae delectus sunt ipsam! Odio illo at quia doloremque fugit iops, asperiores? Consectetur esse officia labore voluptatum blanditiis molestias dic voluptas est, minima unde sequi, praesentium dicta suscipit quisquam iure sed, nemo.</p>
        </div>

        <div class="content update">
            <div class="title">This is a Blog content</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit amet. Possimus doloris nesciunt mollitia culpa sint itaque, vitae praesentium assumenda suscipit fugit doloremque adipisci doloribus, sequi facere itaque cumque accusamus, quam molestias sed provident quibusdam nam deleniti. Autem eaque aut impedit eo nobis quia, eos sequi tempore! Facere ex repellendus, laboriosam perferendise. Enim quis illo harum, exercitationem nam totam fugit omnis natus quam totam, repudiandae dolor laborum! Commodi?</p>
        </div>

        <div class="content inTheMedia">
            <div class="title">This is a Code content</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, debitis nesciunt! Consectetur officiis, libero nobis dolorem pariatur quisquam temporibus. Labore quaerat neque facere itaque laudantium odit veniam consectetur numquam delectus aspernatur, perferendis repellat illo sequi excepturi quos ipsam aliquid est consequuntur.</p>
        </div>

        <div class="content gallery">
            <div class="title">This is a Help content</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim reprehenderit null itaq, odio repellat asperiores vel voluptatem magnam praesentium, eveniet iure ab facere officiis. Quod sequi vel, rem quam provident soluta nihil, eos. Illo oditu omnis cumque praesentium voluptate maxime voluptatibus facilis nulla ipsam quidem mollitia! Veniam, fuga, possimus. Commodi, fugiat aut ut quorioms stu necessitatibus, cumque laborum rem provident tenetur.</p>
        </div>

    </div>

</section>