<section class="wwa">
    <div class="conteiner">

        <input type="radio" name="tabWWA" checked id="gamirare">
        <input type="radio" name="tabWWA"  id="miramixi">

        <div class="wwa-nav">
            <label for="gamirare" class="gamirare">Хто ми - Gamirare</label>
            <label for="miramixi" class="miramixi">Про гру - Miramixi Storyteller</label>
        </div>

        <div class="wwa-content">
            <div class="gamirare">
                <p>Магічний помічник для ваших історій</p>
                <p>Miramixi Storyteller покликаний надати новий ігровий досвід та зручний функціонал 
                    для організації ігрового процесу. Це однокоритувацька/кооперативна 3D RPG зі свободою дії,
                    подібними до всесвітньо відомої системи Підземелля та Дракони. </p>
                <p>Платформа пропонує безліч інструментів для налаштування:</p>
                <ul>
                    <li><p>ігрових локацій за допомогою зручного редактора;</p></li>
                    <li><p>інтерактивності ігрових об’єктів;</p></li>
                    <li><p>неігрових персонажів, примітивних діалогів;</p></li>
                </ul>
                <p>
                    Гравець може налаштовувати ігрові локації та об’єкти за допомогою зручного редактора, визначати поведінку та діалоги не ігрових персонажів. Під час гри майстер може керувати світом за допомогою зручного інтерфейсу. Ми сподіваємося, що цим допоможемо гравцям краще поринути у світ пригод. Приємна, детальна але з тим зрозуміла бойова система, повною мірою дозволить насолодитися всіма перевагами бою, що існують в настільних рольових іграх.
                </p>
            </div>

            <div class="miramixi">
                <div class="title">This is a Home content</div>
                <p>Lorem ipsum g edolores molestias quia quisquam laborum, inventore quis, distinctioa, fugit repudiandae delectus sunt ipsam! Odio illo at quia doloremque fugit iops, asperiores? Consectetur esse officia labore voluptatum blanditiis molestias dic voluptas est, minima unde sequi, praesentium dicta suscipit quisquam iure sed, nemo.</p>
            </div>

            <ul class="wwa-team list">
                <li>
                    <img src="./images/MassMedia/Ellipse.jpg" alt="team-photo">
                    <div>
                        <p>Olfamelles</p>
                        <p>TeamLead</p>
                    </div>
                </li>
                <li>
                    <img src="./images/MassMedia/Ellipse.jpg" alt="team-photo">
                    <div>
                        <p>Olfamelles</p>
                        <p>TeamLead</p>
                    </div>
                </li>
                <li>
                    <img src="./images/MassMedia/Ellipse.jpg" alt="team-photo">
                    <div>
                        <p>Olfamelles</p>
                        <p>TeamLead</p>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</section>