<section>
  <div class="conteiner backdrop">
    <div class="modal">

      <button class="modal-close-button">
        <svg>
          <use href="./images/marketplace-icon.svg#icon-cross"></use>
        </svg>
      </button>

      <div class="modal-image">
        <img src="./images/Marketplace/skull.png" alt="постер" />
      </div>


      <div class="modal-text-content">

        <p class="modal-text-content-id">#1234567890</p>
        <h3>mushroom</h3>

        <p class="modal-text-content-about-text">
          Раса граендхунів походить від древнього бога Ен Дху (N`Dhu). Його вигнали з Пантеону богів Міраміксу, бо відрізнявся зовнішністю від братів та сестер. Велетенський зріст, худорляве тіло, непропорційно довгі руки та бліда сіро-зелена шкіра викликала огиду у всіх, хто його бачив. 
        </p>

        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>

        <div class="modal-buttons">
        </div>
      </div>
    </div>
  </div>
</section>
