<section>
  <div class="conteiner backdrop">
    <div class="modal">

      <button class="modal-close-button">
        <svg>
          <use href="./images/marketplace-icon.svg#icon-cross"></use>
        </svg>
      </button>

      <div class="modal-fon-image">
        <img src="./images/Marketplace/Scull-fon.svg" alt="фон" />
      </div>

      <div class="modal-image">
        <img src="./images/Marketplace/skull.png" alt="постер" />
      </div>


      <div class="modal-content">

        <p class="modal-content-id">#1234567890</p>
        <h3 class="modal-content-titel">mushroom</h3>

        <p class="modal-content-text">
          Раса граендхунів походить від древнього бога Ен Дху (N`Dhu). Його вигнали з Пантеону богів Міраміксу, бо відрізнявся зовнішністю від братів та сестер. Велетенський зріст, худорляве тіло, непропорційно довгі руки та бліда сіро-зелена шкіра викликала огиду у всіх, хто його бачив. 
        </p>

        <ul class="list modal-content-list">
          <li>
            <svg class="one">
              <use href="./images/marketplace-icon.svg#icon-modal-sword"></use>
            </svg>

            <p>атака</p>

            <svg class="two">
              <use href="./images/marketplace-icon.svg#icon-modal-five"></use>
            </svg>
          </li>
          <li>
            <svg class="one">
              <use href="./images/marketplace-icon.svg#icon-modal-shield"></use>
            </svg>

            <p>відбиття</p>

            <svg class="two">
              <use href="./images/marketplace-icon.svg#icon-modal-four"></use>
            </svg>
          </li>
          <li>
            <svg class="one">
              <use href="./images/marketplace-icon.svg#icon-modal-libra"></use>
            </svg>

            <p>вага</p>

            <svg class="two">
              <use href="./images/marketplace-icon.svg#icon-modal-two"></use>
            </svg>
          </li>
        </ul>

        <div class="modal-content-buttons">
          <p>400₴</p>

          <button type="button">
            Додати до кошика 
                    <svg>
                        <use href="./images/marketplace-icon.svg#icon-plus"></use>
                    </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
