<section class="our-team">

    <div class="conteiner">
        <h2 class="our-team-titel titel-h2">Наша команда</h2>

        <ul class="our-team-list list">
            <li class="our-team-list-element"></li>
            <li class="our-team-list-element"></li>
            <li class="our-team-list-element"></li>
            <li class="our-team-list-element"></li>
            <li class="our-team-list-element"></li>
        </ul>
        
        <button class="our-team-button" type="button" href="./about.html">Дізнатись Більше</button>

    </div>
    <div class="our-team-backimg"></div>
</section>