<section>
    <div class="social-icon">
        <ul class="social-icon-list is-hiden list">
            <li>
                <a href="#">
                    <svg class="social-icon-list-svg">
                        <use href="./images/social-icon.svg#icon-Discord"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#">
                    <svg class="social-icon-list-svg">
                        <use href="./images/social-icon.svg#icon-Instagram"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#">
                    <svg class="social-icon-list-svg">
                        <use href="./images/social-icon.svg#icon-Youtube"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#">
                    <svg class="social-icon-list-svg">
                        <use href="./images/social-icon.svg#icon-Twitter"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#">
                    <svg class="social-icon-list-svg">
                        <use href="./images/social-icon.svg#icon-Facebook"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#">
                    <svg class="social-icon-list-svg">
                        <use href="./images/social-icon.svg#icon-Steam"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#">
                    <svg class="social-icon-list-svg">
                        <use href="./images/social-icon.svg#icon-Twitch"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#">
                    <svg class="social-icon-list-svg">
                        <use href="./images/social-icon.svg#icon-Telegram"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#">
                    <svg class="social-icon-list-svg">
                        <use href="./images/social-icon.svg#icon-Itch"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <div class="social-icon-more">
            <svg class="social-icon-list-svg">
                <use class="social-icon-more-more" href="./images/social-icon.svg#icon-More"></use>
                <use class="social-icon-more-hide" href="./images/social-icon.svg#icon-Hide-hover"></use>
            </svg>
        </div>
    </div>
</section>