<section class="subscribe">
  <div class="conteiner">
    <div class="subscribe-forms">
      <h3 class="subscribe-forms-titel">Виникли питання?</h3>
      <p class="subscribe-forms-text">Зв’яжіться з нами</p>
      <form class="subscribe-form" action="form" autocomplete="off" id="form-one">
        <ul class="subscribe-form-list list">
          <li class="subscribe-form-list-element">
            <label for="input-name">
              <input
                type="text"
                name="name"
                id="input-name"
                placeholder="Ім’я"
                autofocus
                required
              />
            </label>
          </li>
          <li class="subscribe-form-list-element">
            <label for="input-email">
              <input
                type="email"
                name="email"
                id="input-email"
                placeholder="E-mail"
                required
              />
            </label>
          </li>
          <li class="subscribe-form-list-element">
            <label for="input-coment">
              <textarea
                name="coment"
                id="input-coment"
                placeholder="Залиште ваше питання тут"
              ></textarea>
            </label>
          </li>
        </ul>
        <button class="subscribe-form-button" type="submit">Відправити</button>
      </form>
      <img
        class="subscribe-forms-img"
        srcset="./images/Subscribe/Subtract.png 1x, ./images/Subscribe/Subtract-2x.png 2x"
        src="./images/Subscribe/Subtract.png"
        alt="Dragon"
        loading="lazy"
      />
    </div>
  </div>
</section>
