<section class="twitch-ua-about">
    <div class="conteiner">
        <div class="twitch-ua-about-conteiner">
            <div class="twitch-ua-about-img">
                <img
                    class="subscribe-forms-img"
                    srcset="./images/Twitch-ua/Intersect.png 1x, ./images/Twitch-ua/Intersect@2x.png 2x"
                    src="./images/Twitch-ua/Intersect.png"
                    alt="Dragon"
                    loading="lazy"
                />
            </div>
            <div class="twitch-ua-about-content">
                <div class="twitch-ua-about-content-text">
                    <p>
                        Розробники з Української інді студії Gamirare, які наразі займаються розробкою Free-to-play TTRPG від третьої особи – Miramixi Storyteller, випустили та розвивають доповнення для браузерів ТвічЮА.
                    </p>
                    <p>
                        Розширення покликане відображати Український інтерфейс на Twitch, автоматично збирати бали під час трансляцій та в цілому популяризувати україномовний контент.
                    </p>
                    <p>
                        Зі слів розробників, плагін містить в собі файл із перекладом, котрий автоматично підставляється на місце англійського тексту під час завантаження сторніки. Саме тому для коректної роботи розширення в налаштуваннях Twitch важливо обрати англомовний інтерфейс. Додаток автоматично підтягує свіжі оновлення із платформи crowdin, тому користувачам завжди відображатиметься актуальний переклад.
                    </p>
                    <p>   
                        Крім того розширення може автоматично збирати бали каналу під час перегляду трансляції та декоративно оформлювати шапку Twitch.
                    </p>
                    <p>   
                        Всі ці параметри можна налаштовувати натиснувши на іконку розширення яке розмістилось на панелі меню Twich.
                    </p>
                </div>
                <div class="twitch-ua-about-content-link">
                    <h3>Встановити розширення</h3>
                    <div>
                        <a href="https://chrome.google.com/webstore/detail/%D1%82%D0%B2%D1%96%D1%87%D1%8E%D0%B0/abgcdoojabobifkadelcggbfejppmhob?hl=uk">
                            <img
                                class="subscribe-forms-img"
                                srcset="./images/Twitch-ua/logo_chrome.png 1x, ./images/Twitch-ua/logo_chrome@2x.png 2x"
                                src="./images/Twitch-ua/logo_chrome.png"
                                alt="Dragon"
                                loading="lazy"
                            />
                        </a>
                        <a href="https://chrome.google.com/webstore/detail/%D1%82%D0%B2%D1%96%D1%87%D1%8E%D0%B0/abgcdoojabobifkadelcggbfejppmhob">
                            <img
                                class="subscribe-forms-img"
                                srcset="./images/Twitch-ua/logo_opera.png 1x, ./images/Twitch-ua/logo_opera@2x.png 2x"
                                src="./images/Twitch-ua/logo_opera.png"
                                alt="Dragon"
                                loading="lazy"
                            />
                        </a>
                        <a href="https://addons.mozilla.org/uk/firefox/addon/%D1%82%D0%B2%D1%96%D1%87%D1%8E%D0%B0/">
                            <img
                                class="subscribe-forms-img"
                                srcset="./images/Twitch-ua/logo_firefox.png 1x, ./images/Twitch-ua/logo_firefox@2x.png 2x"
                                src="./images/Twitch-ua/logo_firefox.png"
                                alt="Dragon"
                                loading="lazy"
                            />
                        </a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>