<section class="twitch-ua-form">
    <div class="conteiner">
        <div class="twitch-ua-form-conteiner">
            <h3 class="form-titel-h3">Бажаєш зробити свій <br> нік-нейм  яскравим?</h3>
            <form action="twitch-form" id="twitch-form-id">
                <label class="inputNickName">
                    <input  type="text" name="nickName" placeholder="Nickname">
                </label>
                <ul class="list twitch-ua-form-conteiner-list">
                    <li>
                        <div>
                            <label>
                                <input type="text" name="gradientType" placeholder="Тип градієнту">
                            </label>
                            <label>
                                <input type="text" name="gradientPosition" placeholder="Положення градієнту">
                            </label>
                        </div>  
                    </li>
                    <li>
                        <div>
                            <label>
                                <input type="text" name="initialColor" placeholder="Початковий колір">
                            </label>
                            <label >
                                <input type="text" name="finalColor" placeholder="Кінцевий колір">
                            </label>
                        </div>
                    </li>
                    <li>
                        <div>
                            <label >
                                <input type="text" name="transparencyFirstEl" placeholder="Прозорість початкового кольору">
                            </label>
                            <label >
                                <input type="text" name="transparencyFinalColor" placeholder="Прозорість кінцевого кольору">
                            </label>
                        </div>
                    </li>
                </ul>
                <div class="twitch-ua-form-conteiner-lastSection">
                    <span>Nickname</span>
                    <button type="submit">Підтвердити</button>
                </div>
            </form>
        </div>

    </div>
</section>


