<section class="twitch-ua-subscribe">
    <div class="conteiner">
        <div class="twitch-ua-subscribe-conteiner">
            <h4>Є бажання доєднатись до <br> нашої спільноти на Twitch?</h4>
            <p>Просто впиши свій нікнейм тут і ми звʼяжемося з тобою як найшвидше</p>
            <form action="form-twitch-ua-subscribe">
                <label>
                    <input type="text" placeholder="Nickname">
                </label>
                <button type="submit">Відправити</button>
            </form>
        </div>

    </div>
</section>