@keyframes walve { 
    0% {
        transform:  rotate(0deg);
    }
    
    100% {
        transform:  rotate(360deg);
    }
}

.cp {
    background-color: #0D000D;

    & > .conteiner {
        padding: 120px 100px;
    }
}

.cp-content {
    display: flex;

    gap: 180px;

    &-text {
        display: block;
        min-width:  650px;

        & > div:first-child{
            margin-bottom: 80px;
        }

        & > div:last-child {
            margin-bottom: 150px;
        }

        &-titel {
            position: relative;
            margin-bottom: 80px;

          
            &::after {
              content: '';
              position: absolute;
              left: -55px;
              top: 33px;
          
              width: 475px;
                height: 65px;
          
              background-image: url(../images/Crowdfunding/OurHistory.svg);
              background-size: cover;
              background-position: center;
            }
          
        }

        &-titel-h3 {
            margin-bottom: 30px;

            font-family: 'Alice';
            font-weight: 400;
            font-size: 40px;
            line-height: 1.15;
            text-transform: uppercase;

            color: #F2AE30;
        }

        & b {
            font-weight: 600;
        }

        & a {
            font-weight: 600;
            color: #fff;
        }
    }

    &-img {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;



    }

}

.cp-first-img {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;


    width: 266px;
    height: 266px;
    background-color: #258F8D;

    border-radius: 50%;
    overflow: hidden;

    & > img {
        position: absolute;
        top:0;
        left: 0;

        display: block;
        width: 266px;
        height: 266px;

        z-index: 1;
    }

    &-text {
        position: absolute;
        z-index: 2;

        font-family: 'Alice';
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 1.15;

        text-transform: uppercase;
        text-align: center;

        color: #FFFFFF;
    }

    &-description {

        display: block;
        margin-top: 40px;

        font-family: 'Alice';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.15;

        text-transform: uppercase;
       text-align: center;
        color: #FFFFFF;
    }

    &::before, &::after {
        content: "";
        position: absolute;
        // top: -230%;
        left: -91%;
        // top: -195%;
        // transform: translate(-49%, -68%);
        // transform: translate(-49%, -110%);

        width: 300%;
        height: 300%;
    }

    &::before {
        top: -218%;

        width: 280%;
        height: 280%;

        border-radius: 39%;
        background-color: #357876;
        animation: interestBfr 500ms linear forwards, walve 15s linear infinite;
    }

    &::after {
        width: 290%;
        height: 290%;
        border-radius: 45%;
        background-color: #363B3F;
        animation: interestAft 1500ms linear forwards, walve 10s linear infinite;
    }



    @keyframes interestBfr {
        0% {
            top: -195%;
        }
        
        100% {
            top: -228%;
        }
    }

    @keyframes interestAft {
        0% {
            top: -195%;
        }
        
        100% {
            top: -240%;
        }
    }


}

.cp-last-img {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 70px;


    width: 192px;
    height: 192px;
    background-color: #258F8D;

    border-radius: 50%;
    overflow: hidden;

    & > img {
        position: absolute;
        top:0;
        left: 0;

        display: block;
        width: 192px;
        height: 192px;

        z-index: 1;
    }

    &-text {
        position: absolute;
        z-index: 2;

        font-family: 'Alice';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 1.15;

        text-transform: uppercase;
        text-align: center;

        color: #FFFFFF;
    }

    &-description {

        display: block;
        margin-top: 40px;

        font-family: 'Alice';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.13;

        text-transform: uppercase;
       text-align: center;
        color: #FFFFFF;
    }

    &::before, &::after {
        content: "";
        position: absolute;
        // top: -230%;
        left: -91%;
        // top: -195%;
        // transform: translate(-49%, -68%);
        // transform: translate(-49%, -110%);

        width: 300%;
        height: 300%;
    }

    &::before {
        top: -218%;

        width: 280%;
        height: 280%;

        border-radius: 36%;
        background-color: #357876;
        animation: interestBfrPer 500ms linear forwards, walve 9s linear infinite;
    }

    &::after {
        width: 290%;
        height: 290%;
        border-radius: 40%;
        background-color: #363B3F;
        animation: interestAftPer 1500ms linear forwards, walve 12s linear infinite;
    }



    @keyframes interestBfrPer {
        0% {
            top: -195%;
        }
        
        100% {
            top: -208%;
        }
    }

    @keyframes interestAftPer {
        0% {
            top: -195%;
        }
        
        100% {
            top: -220%;
        }
    }

}