.hero {
    align-items: center
};

.hero-conteiner {
    display: flex;
    margin-left: auto;
    margin-right: auto;
 
    justify-content: center;
    flex-direction: column;
    align-items: center;
    

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    max-width: 1920px;
    height: 1037px;

    background-image: url(../images/Hero/BGHero.jpg);

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/Hero/BGHero@2x.jpg);
    }

    // @media screen and (min-width: 1920px) {
        // max-width: 1920px;
        // height: 1037px;

        // background-image: url(../images/Hero/BGHero.jpg);

        // @media screen and (min-device-pixel-ratio: 2),
        // (min-resolution: 192dpi),
        // (min-resolution: 2dppx) {
        //     background-image: url(../images/Hero/BGHero@2x.jpg);
        // }
    //}
}

.hero-text {
    margin: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;

    color: #FFFFFF
}

.hero-button {

    font-family: 'Montserrat' sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.1em;

    margin-top: 40px;
    padding: 16px 32px;
    gap: 16px;

    // width: 261px;
    // height: 56px;

    background: linear-gradient(92.64deg, rgba(22, 220, 242, 0.2) 0%, rgba(22, 220, 242, 0) 100%), radial-gradient(107.5% 107.5% at 50% 215%, rgba(22, 220, 242, 0.08) 0%, rgba(22, 220, 242, 0) 100%), linear-gradient(267.36deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    border: 2px solid rgba(22, 220, 242, 0.1);
    border-radius: 999px;
}