.join-us {
    display: flex;
    align-items: center;
    justify-content: center;


    height: 406px;

    background: linear-gradient(180deg, #060C1E 0%, rgba(12, 1, 15, 0.096) 49.48%, #031025 100%), url(../images/JoinUs/join-us-background.jpg);
    backdrop-filter: blur(5px);

    transform: matrix(1, 0, 0, -1, 0, 0);

    background-position: center;
    background-repeat: repeat-x;

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background: linear-gradient(180deg, #060C1E 0%, rgba(12, 1, 15, 0.096) 49.48%, #031025 100%), url(../images/JoinUs/join-us-background@2x.jpg);
    }
}

.join-us-conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 1094px;
    height: 125px;

    // border: 1px solid red;
    transform: matrix(1, 0, 0, -1, 0, 0);

    & h2 {
        margin: 0;

        margin-bottom: 32px;
    }

    & p {
        margin: 0;

        font-weight: 400;
        font-size: 32px;
        line-height: 1.9;

        text-transform: uppercase;
        color: #E4E2DE;
    }
}

.join-us-button {
    width: 216px;
    height: 50px;
    gap: 20px;

    font-family: 'Lato';
    font-weight: 400;



    &-svg {
        display: block;

        width: 36px;
        height: 36px;
    }
}