.social-icon {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    display: block;
    width: 80px;

}

.social-icon-list {
    display: flex;
    flex-direction: column;

    padding-top: 16px;
    padding-bottom: 16px;
    gap: 16px;
    

    &.is-hiden{
        height: 256px;
        overflow-y: hidden;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }    

    & a {
        margin: 0;
        border-radius: 50px;
        cursor: pointer;

        color: #fff;

        &:hover, &:focus {
            .social-icon-list-svg {
                filter: drop-shadow(0px 0px 10px #16DCF2);
                
            }
        }


    }

    &-svg {
        display: block;
        margin-left: auto;
        margin-right: auto;

        width: 44px;
        height: 44px;

        fill: currentColor;
        transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
}

.social-icon-more {
    & svg {
        cursor: pointer;
        
        & use {
            transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .social-icon-more-hide {
            opacity: 0;
        }

    }


    &:hover, &:focus {
        .social-icon-more-hide {
            opacity: 1;
        }

        .social-icon-more-more {
            opacity: 0;
        }

        filter: drop-shadow(0px 0px 10px #16DCF2);
    }

}